<mat-form-field *ngIf="!failState" class="password-field">
  <mat-label class="password-field-text">Password</mat-label>
  <input (input)="InputEvent($event)" class="input-text" matInput [type]="hide() ? 'password' : 'text'" />
  <button
    mat-icon-button
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Enter Password'"
    [attr.aria-pressed]="hide()"
  >
    <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>

<mat-form-field *ngIf="failState" class="password-field-failed">
  <mat-label class="password-field-text">Password</mat-label>
  <input (input)="InputEvent($event)" class="input-text" matInput [type]="hide() ? 'password' : 'text'" />
  <button
    mat-icon-button
    matSuffix
    (click)="clickEvent($event)"
    [attr.aria-label]="'Enter Password'"
    [attr.aria-pressed]="hide()"
  >
    <mat-icon>{{ hide() ? "visibility_off" : "visibility" }}</mat-icon>
  </button>
</mat-form-field>
