.search-button,
.add-button {
  outline: 3px solid;
  border-radius: 3px;
  border: none;
  align-items: center;
  aspect-ratio: 1/1;
  height: 90%;
  width: 90%;
}

.search-button {
  outline: none;
  border: none;
  & > img {
    background: #353a41;
    height: 90%;
  }
  background: #353a41;
  padding: 0px;
  margin: 0px; 
}

.add-button {
  background-color: #a1ff79;
  outline-color: #b6ff87;
  border-radius: 3px;
  & > img {
    background-color: #a1ff79;
    
  }
}

:host{
  background: none;
}