.enter-button {
  display: flex;
  justify-content: center;
  background-color: #e9eaed;
  outline: 2px solid #f4faff;
  border-radius: 3px;
  padding: 0.2rem 2rem;
  border: none;

  transition: background-color 0.15s ease-in-out, outline-color 0.15s ease-in-out;
  cursor: pointer;

  & > img {
    background: none;
  }
  &:hover{
    background-color: #c6b7fe;
    outline-color: #e6e1f9;
  }
}
