.enter-button {
  text-align: center;
  color: #e9eaed;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 22px;
  padding: 0.32rem 2rem;

  border: none;
  border-radius: 5px;
  outline-width: 1.5px;
  outline-style: solid;
  outline-color: #e9eaed;
  background-color: rgba(168, 175, 184, 0.08);

  transition: color ease-in-out 150ms, background-color ease-in-out 150ms,
    outline-color ease-in-out 150ms;

  &:hover {
    color: #bba8ff;
    background-color: rgba(187, 168, 255, 0.08);
    outline-color: #bba8ff;
  }
}
:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: none;
}