<div class="sidebar">
  <div class="search-flex">
    <app-chat-sidebar-searchbar (inputEmitter)="inputReceived($event)">
    </app-chat-sidebar-searchbar>
      <app-chat-sidebar-search-button
        [isSearch]=searchIs
        (emitClick)="clickReceived()"
      ></app-chat-sidebar-search-button>
  </div>
  <app-new-conversation [displayName]="newConversationUser.name" [userTag]="newConversationUser.tag" [enabled]=!searchIs></app-new-conversation>
  <app-conversation-list (convEmitter)="conversationClickReceived($event)" [conversations]="conversations" [enabled]=searchIs></app-conversation-list>
</div>
