.sidebar {
    background-color: #353a41;
    width: 20%;
    height: 95.5vh;
    padding: 1rem;
}
.buttonDiv {
    background-color: #353a41;
    display: flex;
    flex: row;
    gap: 2rem;
    justify-content: center;
}