@use "@angular/material" as mat;
* {
  color: #e9eaed;
  background-color: #25282d;
  font-family: "Inter", sans-serif;
}
html, body {
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.site-title {
  color: #e9eaed;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 52px;
  text-align: center;
}
.side-sub-title {
  color: #e9eaed;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}
// Generic flex boxes
.verticalflex {
  display: flex;
  flex-direction: column;
  background: none;
}
.horizontalflex {
  display: flex;
  flex-direction: row;
  background: none;
}
